#!/usr/bin/env bash
# Aliases.
# Matthieu Petiteau <mpetiteau.pro@gmail.com>

# {{{1 editing

alias \
  vi="nvim" \
  vim="nvim" \
  svi="sudo nvim" \
  edit="$EDITOR" \
  e="$EDITOR" \
  vimdiff="nvim -d" \
  vidiff="nvim -d" \
  evim="$EDITOR $HOME/.config/nvim/init.vim" \
  ezsh="$EDITOR $HOME/.zshrc" \
  eali="$EDITOR $HOME/.aliases" \
  efun="$EDITOR $HOME/.functions" \
  etmu="$EDITOR $HOME/.tmux.conf" \
  egit="$EDITOR $HOME/.gitconfig" \
  eala="$EDITOR $HOME/.config/alacritty/alacritty.yml"

# }}}1
# {{{1 python

alias \
  python2="python2.7" \
  python="python3.8" \
  py="python3.8" \
  pip="pip3.8" \
  venv="python -m venv env" \
  pif="pip3.8 freeze" \
  pii="pip3.8 install"

# }}}1
# {{{1 tmux

alias  \
  sp="tmux splitw -v"  \
  vs="tmux splitw -h" \
  tks="tmux kill-session -t" \
  tksa="tmux kill-session -a" \
  tls="tmux list-sessions"

# }}}1
# {{{1 move around

alias \
  dots="cd $HOME/dotfiles" \
  c="clear" \
  qq="exit" \
  mkdir="mkdir -pv" \
  p="pwd" \
  l="ls -pFf" \
  ls="ls -pF" \
  ls.="ls -pF -d .*" \
  ..="cd .." \
  ...="cd ../.." \
  ....="cd ../../.." \
  .....="cd ../../../.."

# }}}1
# {{{1 git

alias \
  g="git" \
  ga="git add" \
  gs="git status" \
  gc="git commit -v" \
  gc!="git commit -v --amend" \
  gcq="git commit -m 'Quick commit'" \
  gcb="git checkout -b" \
  gb="git branch" \
  gp="git push" \
  gd="git diff"

# }}}1
# {{{1 misc

alias \
  trecord="asciinema rec" \
  trecordgif="asciicast2gif" \
  sk="sketch" \
  fonts="open $HOME/Library/Fonts" \
  pubip="curl http://ipecho.net/plain; echo" \
  myip="curl http://ipecho.net/plain; echo"

# }}}1
