[submodule "bin/externals/tubestatus"]
	path = bin/externals/tubestatus
	url = https://github.com/smallwat3r/tubestatus
[submodule "bin/externals/sketch"]
	path = bin/externals/sketch
	url = https://github.com/smallwat3r/sketch
[submodule "tmux/plugins/tmux-battery"]
	path = tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "tmux/plugins/tmux-cpu"]
	path = tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/autoload/externals/vim-plug"]
	path = vim/autoload/externals/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "zsh/external/antigen"]
	path = zsh/external/antigen
	url = https://github.com/zsh-users/antigen
[submodule "bin/externals/pyzip"]
	path = bin/externals/pyzip
	url = https://github.com/smallwat3r/pyzip
[submodule "fonts/externals/FiraCode"]
	path = fonts/externals/FiraCode
	url = https://github.com/tonsky/FiraCode
[submodule "bin/externals/synonym"]
	path = bin/externals/synonym
	url = https://github.com/smallwat3r/synonym
[submodule "fonts/externals/dejavu-sans-mono-sw"]
	path = fonts/externals/dejavu-sans-mono-sw
	url = https://github.com/smallwat3r/dejavu-sans-mono-sw
[submodule "tmux/plugins/tmux-current-pane-hostname"]
	path = tmux/plugins/tmux-current-pane-hostname
	url = https://github.com/soyuka/tmux-current-pane-hostname
