[submodule "fonts/droid-sans-mono-sw"]
	path = fonts/droid-sans-mono-sw
	url = https://github.com/smallwat3r/droid-sans-mono-sw.git
[submodule "fonts/cherry"]
	path = fonts/cherry
	url = https://github.com/turquoise-hexagon/cherry
[submodule "fonts/sq"]
	path = fonts/sq
	url = https://github.com/leahneukirchen/sq
[submodule "fonts/metrickal-typeface"]
	path = fonts/metrickal-typeface
	url = https://github.com/robey/metrickal-typeface
