*.DS_Store
*.swp
*.swo
*.pyc
*.zwc
*.private
*.pem
*.pub

Brewfile.lock.json

emacs/.doom.d/.custom.el

vim/.config/nvim/*
!vim/.config/nvim/init.vim

gnupg/.gnupg/*
!gnupg/.gnupg/gpg.conf
!gnupg/.gnupg/gpg-agent.conf

ssh/.ssh/*
!ssh/.ssh/config
