*.DS_Store
*.swp
*.swo
*.pyc
*.zwc
*.private
*.pem
*.pub
*.asc
*.key
id_rsa*
known_hosts
known_hosts.*

cross-platform/.doom.d/custom.el
cross-platform/.doom.d/.custom.el
cross-platform/.config/nvim/*
!cross-platform/.config/nvim/init.vim
cross-platform/.gnupg/*
!cross-platform/.gnupg/gpg.conf
cross-platform/.ssh/*
!cross-platform/.ssh/config
cross-platform/.config/qutebrowser/autoconfig.yml
cross-platform/.config/qutebrowser/qsettings/*

macos/Brewfile.lock.json
macos/.hammerspoon/Spoons/*
macos/.gnupg/*
!macos/.gnupg/gpg-agent.conf
