@font-face {
    font-family: 'SFMono-Regular';
    src: local('MonacoB');
}
@font-face {
    font-family: 'Cousine';
    src: local('MonacoB');
}
@font-face {
    font-family: 'Menlo';
    src: local('MonacoB');
}
@font-face {
    font-family: 'Consolas';
    src: local('MonacoB');
}
@font-face {
    font-family: 'Cascadia Mono';
    src: local('MonacoB');
}
@font-face {
    font-family: 'JetBrains Mono';
    src: local('MonacoB');
}
@font-face {
    font-family: 'Monospace';
    src: local('MonacoB');
}
@font-face {
    font-family: 'Gitlab Mono';
    src: local('MonacoB');
}
@font-face {
    font-family: 'Gitlab Mono';
    src: local('MonacoB');
    font-weight: 600;
}
.hljs-comment {
    font-style: normal !important;
}
.c1 {
    font-style: normal !important;
}
