semi: false
overrides:
  - files: "*.js"
    options:
      bracketSpacing: true
      printWidth: 120
      tabWidth: 2
      singleQuote: true
      semi: true
      arrowParens: avoid
      proseWrap: always
  - files: "*.html"
    options:
      printWidth: 140
      tabWidth: 2
