#!/usr/bin/env bash

# {{{1 editing

alias \
  e="$EDITOR" \
  eala="$EDITOR $HOME/.config/alacritty/alacritty.yml" \
  eali="$EDITOR $HOME/.aliases" \
  edit="$EDITOR" \
  efun="$EDITOR $HOME/.functions" \
  egit="$EDITOR $HOME/.gitconfig" \
  etmu="$EDITOR $HOME/.tmux.conf" \
  evim="$EDITOR $HOME/.config/nvim/init.vim" \
  ezsh="$EDITOR $HOME/.zshrc" \
  svi="sudo nvim" \
  v="nvim" \
  vi="nvim" \
  vidiff="nvim -d" \
  vim="nvim" \
  vimdiff="nvim -d"

# }}}1
# {{{1 python

alias \
  pif="pip3.8 freeze" \
  pii="pip3.8 install" \
  pip="pip3.8" \
  py="python3.8" \
  python2="python2.7" \
  python="python3.8" \
  venv="python -m venv env"

# }}}1
# {{{1 tmux

alias \
  sp="tmux splitw -v" \
  tks="tmux kill-session -t" \
  tksa="tmux kill-session -a" \
  tls="tmux list-sessions" \
  vs="tmux splitw -h"

# }}}1
# {{{1 move around

alias \
  .....="cd ../../../.." \
  ....="cd ../../.." \
  ...="cd ../.." \
  ..="cd .." \
  cd..="cd .." \
  c="clear" \
  dots="cd $HOME/dotfiles" \
  l="ls -pFf" \
  ls="ls -pF" \
  sl="ls -pF" \
  ll="ls -la" \
  ls.="ls -pF -d .*" \
  lss="ls -la | grep --color=never '\->'" \
  mkdir="mkdir -pv" \
  p="pwd" \
  qq="exit"

# }}}1
# {{{1 git

alias \
  g="git" \
  ga="git add" \
  gb="git branch" \
  gc!="git commit -v --amend" \
  gc="git commit -v" \
  gcb="git checkout -b" \
  gcq="git commit -m 'Quick commit'" \
  gd="git diff" \
  gp="git push" \
  gs="git status"

# }}}1
# {{{1 utils

alias \
  ctags="/usr/local/bin/ctags" \
  diskspace="df -P -kHl" \
  batt="bluebatt" \
  sk="sketch"

# }}}1
# {{{1 miscellaneous

alias \
  fonts="open $HOME/Library/Fonts" \
  myip="curl http://ipecho.net/plain; echo" \
  pubip="curl http://ipecho.net/plain; echo" \
  trecord="asciinema rec" \
  trecordgif="asciicast2gif"

# }}}1
