[Unit]
Description=Tailscale System Tray

[Service]
Type=simple
ExecStart=/usr/bin/tailscale systray
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
